events {}
  http {
    server {
      listen 80;
    location /hello {
    return 200 "My Server Type is {{ nginx_content_var }} My Hostname is {{ ansible_hostname }} My ip is {{ ansible_default_ipv4['address'] }}";
   }
  } 
}
